<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Bizmat - Material Design Business Template</title>

    <!-- Favicon  -->

    <!-- ::::::::::::::::::::::::::: All CSS Files ::::::::::::::::::::::::::: -->

    <!-- Style css -->
    <link rel="stylesheet" href="style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <style>
    	
    	.is-sticky .main_header_area, .blog .main_header_area {
		    display:none;

    </style>

    <!--[if IE]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>
    <!-- /.end preloader -->

    <!-- ::::::::::::::::::::::::::: Header Start ::::::::::::::::::::::::::: -->
    <header class="header_area">
        <!-- Main Header Area Start -->
        <div class="main_header_area" id="sticky">
            <div class="container">
                <div class="row">

                    


                </div>
            </div>
        </div>
        <!-- Main Header Area End -->
    </header>
    <!-- ::::::::::::::::::::::::::: Header End ***************** -->

    <!-- ::::::::::::::::::::::::::: Welcome Area Start ::::::::::::::::::::::::::: -->
    <section class="welcome_area" id="home">
        <!-- Static Welcome Area Start -->
        <div class="single_slide" style="background-image: url(img/bg-pattern/BG.png);">
            <div class="slide_text">
                <div class="table">
                    <div class="table_cell">
                        <h2>Urban Man Hunt will <span>Change the World</span></h2>
                        <h3>Imagine playing Manhunt, but with an entire city.</h3>
                        <div class="welcome_btn">
                            <a class="btn btn-1 btn-default btn-lg active" href="#" role="button">Coming Soon to App Store</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xs-12">
            <!-- Logo Area:: For better view in all device please use logo image max-width 70px -->
            <div class="logo_area">
                <a href="index-static.html" ><img src="human_huntr.png" alt="" style="margin: -40px auto !important; display: block !important; width:180px; "></a>
            </div>
        </div>
    </section>
    <!-- ::::::::::::::::::::::::::: Welcome Area End ::::::::::::::::::::::::::: -->

	
	<!-- ::::::::::::::::::::::::::: About Us Area Start ::::::::::::::::::::::::::: -->
    <section class="about_area section_padding_100" id="about">
        <div class="container">
            <div class="about_us_area">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <!-- About Us Text Start -->
                        <div class="about_us_text" style="text-align: center;">
                            <h3>City wide Man Hunt, at your fingertips </h3>
                            <p><b>HUMAN HUNTR</b> is an app that will revolutionize your childhood game. </p>

                        </div>
                    </div>

                    <!-- About Us Chart Area -->
                    <div class="col-xs-12 col-sm-12">
                        <div class="about_us_thumb wow fadeInRight" data-wow-delay="1s">
                            <img src="human_huntr3.png" alt="" width="200" style="margin: 0 auto; display: block;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end./ container -->
    </section>
    <!-- ::::::::::::::::::::::::::: Awesome Feature Area End ::::::::::::::::::::::::::: -->


    <!-- ::::::::::::::::::::::::::: Special Feature Area Start ::::::::::::::::::::::::::: -->
    <section class="special_feature_area section_padding_100_70">
        <div class="container">
            <div class="row">

                

                <div class="col-sm-12 col-md-6">
                    <!-- Single Feature Area Start -->
                    <div class="single_feature wow fadeInDown" data-wow-delay="0.6s">
                        <div class="feature_icon">
                            <i class="icofont icofont-cur-taka"></i>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Social</h5>
                            <p>Play Man Hunt with friends, or completely new people. Remember to always take a selfie when you tag someone. </p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <!-- Single Feature Area Start -->
                    <div class="single_feature wow fadeInDown" data-wow-delay="0.8s">
                        <div class="feature_icon">
                            <i class="icofont icofont-support"></i>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Adventurous</h5>
                            <p>So often we are consumed by our devices. Go outside, and explore the real world!</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ::::::::::::::::::::::::::: Special Feature Area End ::::::::::::::::::::::::::: -->

    

    <!-- ::::::::::::::::::::::::::: About Us Area Start ::::::::::::::::::::::::::: -->
    <section class="about_area section_padding_100" id="about">
        <div class="container">
            <div class="about_us_area">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <!-- About Us Text Start -->
                        <div class="about_us_text" style="text-align: center;">
                            <h3>One Map, endless possibilities</h3>

                        </div>
                    </div>

                    <!-- About Us Chart Area -->
                    <div class="col-xs-12 col-sm-12">
                        <div class="about_us_thumb wow fadeInRight" data-wow-delay="1s">
                            <img src="human_huntr2.png" alt="" width="200" style="margin: 0 auto; display: block;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end./ container -->
    </section>
    <!-- ::::::::::::::::::::::::::: Awesome Feature Area End ::::::::::::::::::::::::::: -->


    <!-- ::::::::::::::::::::::::::: Map Area Start ::::::::::::::::::::::::::: -->
    <div class="map_contact_address_area">
        <!-- Map Area Start -->
        <div class="map_area" id="googleMap"></div>
    </div>
    <!-- ::::::::::::::::::::::::::: Map Area End ::::::::::::::::::::::::::: -->

    <!-- ::::::::::::::::::::::::::: Footer Area Start ::::::::::::::::::::::::::: -->
    <footer class="footer_area section_padding_60">
        <!-- Bottom Footer Area Start -->
        <div class="footer_bottom_area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        <div class="footer_bottom">
                            <p><a href="#">Human Huntr</a></p>
                        </div>
                        <!-- Bottom Footer Copywrite Text Area End -->
                    </div>
                </div>
                <!-- end./ row -->
            </div>
            <!-- end./ container -->
        </div>
        <!-- Bottom Footer Area End -->
    </footer>
    <!-- ::::::::::::::::::::::::::: Footer Area End ::::::::::::::::::::::::::: -->

    <!-- ::::::::::::::::::::::::::: All jQuery Plugins ::::::::::::::::::::::::::: -->

    <!-- jQuery (necessary for all JavaScript plugins) -->
    <script src="js/jquery-2.2.4.min.js"></script>

    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Waypoint js -->
    <script src="js/jquery.waypoints.min.js"></script>

    <!-- Owl-carousel js -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- Ajax Contact js -->
    <script src="js/ajax-contact.js"></script>

    <!-- Meanmenu js -->
    <script src="js/meanmenu.js"></script>

    <!-- Onepage Nav js -->
    <script src="js/jquery.nav.min.js"></script>

    <!-- Magnific Popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- Counterup js -->
    <script src="js/counterup.min.js"></script>

    <!-- jQuery easing js -->
    <script src="js/jquery.easing.1.3.js"></script>

    <!-- Back to top js -->
    <script src="js/jquery.scrollUp.js"></script>

    <!-- Sticky js -->
    <script src="js/jquery.sticky.js"></script>

    <!-- MatchHeight js -->
    <script src="js/jquery.matchHeight-min.js"></script>

    <!-- YouTube Video Player js -->
    <script src="js/YTPlayer.min.js"></script>

    <!-- Parallax js -->
    <script src="js/stellar.min.js"></script>

    <!-- GOOGLE MAPS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk9KNSL1jTv4MY9Pza6w8DJkpI_nHyCnk" type="text/javascript"></script>

    <!-- GOOGLE ACTIVE JS -->
    <script src="js/map-active.js"></script>

    <!-- wow js -->
    <script src="js/wow.min.js"></script>

    <!-- Active js -->
    <script src="js/custom.js"></script>

</body>

</html>